body { 
    margin: 0;
    padding: 0;
}

sup {
    font-size: 14px;
    
}

.hero {
    /* height: 500px;
    width: 100%; */
    padding: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("uiimage.png");
    background-position: center 65%;
}

.hero__title {
    color: rgb(0, 0, 0);
    font-size: 35px;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    margin-bottom: 25px;
}

.hero__description{
    color: rgb(177, 140, 140);
    font-size: 26px;
    font-family: 'Courier New', Courier, monospace;
    font-variant: initial;
    font-weight: 400;
    text-transform: capitalize;

}

/* .hero__background-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

.hero__button {}


.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
}

.card{
    align-items: center;
    background-color: white;
    border: 1px rgba(225, 223, 223, 0.947) solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-basis: 320px;
    justify-content: space-between;
    margin-bottom: 30px;
    margin: 15px;
    padding: 2px 20px 25px 20px;
    text-align: center;
    width: 340px;
}

.card__eyebrow{
    font: bold;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-variant-caps: all-petite-caps;
    color: rgb(49, 106, 130);
    margin-bottom: 15px;
    max-width: 100%;
} 

.card__eyebrow--green{
    color: rgb(45, 199, 14);
}

.card__eyebrow--blue {
    color: hsl(203, 100%, 50%);
}

.card__eyebrow--red {
    color: #e63125fc;
}

.card__title{
    color: rgba(34, 34, 34, 0.934);
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.card__description{
    color: rgb(67, 66, 66);
    font-size: 15px;
    font-weight: 200;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.card__button{
    align-items: flex-end;
    margin-top: 50px;
    background-color:  rgb(49, 106, 130);
    padding: 10px 20px;
    border-radius: 3px;
    color: antiquewhite;
    font-size: 18px;
    text-transform: initial;
    cursor: pointer;
}

.card__button--green {
    background-color: rgb(45, 199, 14);
}

.card__button--blue{
    background-color: hsl(203, 100%, 50%);
}

.card__button--red {
    background-color: #e63125fc;
}