body {
  background-color: rgb(68, 64, 150);
}

.card__container {
  background-color: rgb(235, 235, 198);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 15px 7px;

}

.card__item {
  align-self: auto;
  background-color: rgb(215, 163, 51);
  border: 1px solid rgb(218, 212, 212);
  border-radius: 5px;
  color: white;
  flex-grow: 1;
  /* flex-basis: 100px; */
  font-family: Arial, Helvetica, sans-serif;  
  font-weight: bold;
  font-size: 3em;
  justify-content: space-between;
  line-height: 140px;
  margin: 0 7px 15px 7px;
  text-align: center;
  min-width: 100px;
}

.card__item--small-right {
    margin: 0 100px  15px 7px;
}

.card__item--small-left {
    margin: 0  7px 15px 100px;
}

.card__item--medium {
    flex-basis: 250px;
    min-width: 200px;
}

.card__item--large {
    min-width: 500px; 
    flex-basis: 600px
}
